.alt-header {
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alt-header__title {
  font-size: 28px;
  font-weight: 600;
}
.alt-header__column {
  width: 33%;
}
/* 3가지 요소가 좌우 중앙에 제대로 배치되게 만드는 꼼수
좌(first-child): width 값 33% 부여
중앙(nth-child): text-align: center 부여
우(last-child): display flex, justify-content flex-end값 부여*/
.alt-header__column:first-child {
  margin-right: auto;
}
.alt-header__column:nth-child(2) {
  text-align: center;
}
.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
.alt-header__column span:last-child {
  margin-left: 20px;
}
