.recommended-friends {
  padding: 25px 0px;
  margin: 25px 0;
  border-bottom: var(--main-border);
  border-top: var(--main-border);
}
.recommended-friends__title {
  font-size: 15px;
  color: rgb(0, 0, 0, 0.5);
}
.recommended-friends span {
  display: block;
  margin: 100px 0;
  text-align: center;
  color: rgb(0, 0, 0, 0.5);
  font-size: 17px;
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.7;
  margin-bottom: 25px;
}
.open-chat__header span {
  opacity: 0.6;
}
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.open-post__title {
  font-weight: 600;
  margin-bottom: 10px;
}
.open-post__hashtags {
  text-transform: uppercase;
  /*대문자로 바꾸는 방법*/
  opacity: 0.6;
}
.open-post__members {
  margin-top: 7px;
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 8px;
}
.open-post__member-count {
  opacity: 0.5;
  font-size: 14px;
}
.open-post__members .divider {
  width: 2px;
  height: 15px;
  background-color: rgb(0, 0, 0, 0.2);
  margin: 0 5px;
}
.open-post__member-status {
  color: #ffb0e0;
}
.open-post__photo {
  position: relative;
}
.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}
.open-post__heart-count {
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  /*텍스트가 사진 위에 겹치게 올리는 방법임*/
  bottom: 8px;
  right: 8px;
  font-size: 12px;
}
.open-post__heart-count span {
  margin-left: 3px;
}
@keyframes heartBeat {
  0% {
    color: white;
  }
  50% {
    color: red;
    transform: scale(2);
  }
  100% {
    color: white;
  }
}
.open-post__heart-count:hover i {
  will-change: transform;
  /* animation 변화 효과를 부드럽게 만들기 위해 브라우저에게 애니메이션이 변화할 것이라는 점을 강조하는 방법*/
  animation: heartBeat 1s linear infinite;
}
.open-post1 {
  margin-bottom: 100px;
}
