.fa-info-circle {
  color: #ffb0e0;
}
.more-screen .icons-row {
  margin-top: 35px;
}
.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 40px;
}
.more-suggestions__title {
  margin-bottom: 30px;
}
.more-suggestions__icons {
  display: flex;
}
.more-suggestions__icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  /*위 아래로 정렬되기를 바랄 때 column*/
  justify-content: center;
  align-items: center;
}
.more-suggestions__icon-image {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.more-suggestions__icon-text {
  margin-bottom: 150px;
}
