.icons-row {
  display: flex;
  justify-content: space-between;
  margin: 0px 35px;
  padding-bottom: 25px;
}
.icons-row__icon {
  display: flex;
  flex-direction: column;
  /* column은 다음 줄로 위치하게 하는 것, row는 동일 선에 위치하게 하는 것*/
  align-items: center;
}
.icons-row__icon i {
  font-size: 35px;
}
.icons-row__icon span {
  margin-top: 15px;
}
